html {
	background-color: #342e3a;
}
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 45px;
}
p {
	font-family: 'Oswald', sans-serif;
}
#accordion {
	list-style:none;
	padding:0;
	height:100vh;
	width:100%;
	overflow:hidden;
	border-radius: 0px;
	float: left;
}
#accordion .panel {
	float:left;
	display:block;
	height:100vh;
	width:25%;
	overflow:hidden;
	text-decoration:none;
	font-size:16px;
	line-height:1.5em
}
#accordion .panel.active {
	width:50%;
}

.panelContent h1 {
	padding-left: 20px;
}

.last {
	border:none
}
#about {
	background-color: #f28423;
	color: black;
}
#about h1 {
	font-weight: 600;
}
.heading-text {
	padding: 20px;
}
#firm {
	background-color: black;
	color: white;
}
#firm h1 {

}
#services {
	background-color: #b1200f;
	color: black;
}
#services h1 {
	font-weight: 600;
}

.portfolio {
	background-color: white;
	float: left;
}
.projects {
	background-color: black;
	float: left;
	color: white;
}
