html {
	background-color: #342e3a;
	letter-spacing: 1.5px;
}
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 45px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
p {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	word-spacing: 2px;

}


/*Landing Page*/
#accordion {
	background-color: black;
	list-style:none;
	padding:0;
	height:100vh;
	width:100%;
	overflow:hidden;
	border-radius: 0px;
	float: left;
}
#accordion .panel {
	float:left;
	padding-bottom: 75px;
	height:100vh;
	width:25%;
	overflow:hidden;
	text-decoration:none;
	font-size:16px;
	line-height:1.5em;
	border-right: 15px solid black;
	border-bottom: 5px solid black;
}
#accordion .panel.active {
	width:50%;
}

.panelContent h1 {

	text-align: center;
}

.last {
	border:none
}
#armet {
	background-color: #f28423;
	color: white;
	border-left: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
#armet h1 {
	font-weight: 600;
}
.heading-text {

}
#davis {
	background-color: white;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
#davis h1 {
	font-weight: 600;

}
#newlove {
	background-color: #872729;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
#newlove h1 {
	font-weight: 600;
}

/*Content*/

.about {
	padding-bottom: 35px;
	background-color: white;
	padding-bottom: 50px;
}

.projects {
	background-color: #white;
	color: #222;
	padding-bottom: 50px;
}
.architects {
	background-color: #f28423;
padding-bottom: 50px;
	color: black;
}
.licenses {
	background-color: black;
	color: #9d9d9d;
	padding-bottom: 50px;
}
.clients {
	background-color: #b1200f;
	color: white;
	padding-bottom: 50px;

}
.contact {
	background-color: #222;
	color: #9d9d9d;
	padding-bottom: 100px;
}

/*spacer*/
.spacer {
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}

/*Navbar*/
.navbar-fixed-bottom {
	height: 70px;
}
.dropdown-menu {
	background-color: #222;
	text-align: center;
}
.dropdown-menu li a {
	color: #9d9d9d;
}
.nav-1 {
	padding-left: 40px;
}
.nav-2 {

}
.dropdown-li {
	text-align: center;
}
