html {
	background-color: #342e3a;
}
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 45px;
}
p {
	font-family: 'Oswald', sans-serif;
}
#accordion {
	list-style:none;
	padding:0;
	height:600px;
	width:100%;
	overflow:hidden;
	border-radius: 0px;
	position: absolute;
}
#accordion .panel {
	float:left;
	display:block;
	height:600px;
	width:25%;
	overflow:hidden;
	text-decoration:none;
	font-size:16px;
	line-height:1.5em
}
#accordion .panel.active {
	width:50%;
}

.panelContent h1 {
	padding-left: 20px;
}

.last {
	border:none
}
.about {
	background-color: #bb6622;
	color: black;
}
.about h1 {
	font-weight: 600;
}
.firm {
	background-color: black;
	color: white;
}
.firm h1 {
	
}
.services {
	background-color: #b1200f;
	color: black;
}
.services h1 {
	font-weight: 600;
}
