html {
  background-color: #342e3a;
  letter-spacing: 1.5px;
}

body {
  width: 100%;
  overflow-x: hidden;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  word-spacing: 2px;
}
.wrapper {
	margin: 0px 50px 75px 50px;
}

.image {
	width: 30%;
}
.image img {
	width: 100%;
  min-width: 350px;
}
.about-text-wrap {
	width: 65%;
  min-width: 350px;
  margin: 20px;
}
.section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
.row {
	padding-top: 20px;
	padding-bottom: 20px;
  width: 100%;
}
.rotating-image {
	width: 30%;
  min-width: 300px;
	height: 150px;
}
